---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const projects = (await getCollection('project')).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
);
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <section>
        <div class="cards">
          {
            projects.map((project, index) => (
              <div class={ index > 0 ? 'card' : 'main-card'}>
                <a class={ index > 0 ? 'card-content' : 'main-card-content' } href={`/project/${project.slug}/`}>
                  <img class={ index > 0 ? 'card-img' : 'main-card-img' } src={project.data.heroImage} alt="" transition:name=`project-hero-img-${project.data.id}`/>
                  <div class={ index > 0 ? 'card-data' : 'main-card-data' }>
                    <h4 class={ index > 0 ? 'card-title' : 'main-card-title' }>{project.data.title}</h4>
                    <div class={ index > 0 ? 'card-info' : 'main-card-info' }>
                      <p class="date">
                        <FormattedDate date={project.data.startDate} />
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
